<div class="h-100 d-flex flex-column align-items-center justify-content-center" id="landing-page">
  <mat-card>
    <div class="text-center mb-1 mt-2">
      <img src="/assets/images/logo-1.png" alt="ProgTech logo"  style="width: 150px; height: 150px;">
    </div>
    <mat-card-header>
      <mat-card-title>
        Welcome to ProgTech Task Management System
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions class="d-flex align-items-center justify-content-evenly mt-2">
      <a class="btn btn-outline-primary" routerLink="login">Log in</a>
      <a class="btn btn-outline-primary" routerLink="register">Register</a>
    </mat-card-actions>
  </mat-card>
</div>

