<footer class="text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.facebook.com/profile.php?id=100071863253805"
        role="button"
        target="_blank"
      >
        <i class="bi bi-facebook"></i>
      </a>
      <a
        class="btn btn-outline-light btn-floating m-1"
        role="button"
        href="https://github.com/PanagiotaVas?tab=repositories"
        target="_blank"
      >
        <i class="bi bi-github"></i>
      </a>
      <a
        class="btn btn-outline-light btn-floating m-1"
        role="button"
        target="_blank"
        href="https://www.linkedin.com/in/panagiota-v-a1b464265/"
      >
        <i class="bi bi-linkedin"></i>
      </a>
    </section>
    <span>&copy; 2024 Coding Factory 5</span>
  </div>
</footer>

